@import '~bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 2.5rem;
}

.app-header {
  line-height: 1;
}

.app-header-title {
  font-size: 1.75rem;

  &:hover {
    text-decoration: none;
  }
}
